<body>
    <div class="container">
        <img id="background" src="https://cdn0.gamesports.net/content_teasers/138000/138603.jpg?1645910914">
        <div class="overlay"><img id="logo" src="\assets\images\img4.png">
        </div>
    </div>
    <h1>Established in 2021</h1>
    <h2>Founded in 2021 by Avian Dsouza</h2>
    <p>After 2 years of experience in esports under a different name, Avian Dsouza founded Imperial Esports with one goal in mind: Racing to the top of India's (and the world’s) esports leagues. The first opportunity to make a name for ourselves followed shortly after: Valorant.</p>
</body>