h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: rgb(26, 209, 26);
    text-align: center;}
iframe{
    max-width: 100%;
    height: auto;
    display: grid;
    margin: auto;
    margin-bottom: 1%;
}
p{
    color: rgba(44, 180, 44, 0.603);
    font-size: large;text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
}