<body>
    <h1>Clips</h1>
<iframe id="RocketLeague" width="560" height="315" src="https://www.youtube.com/embed/VKJZ4PCWgY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Rocket League Championship Finals 2022</p>
<iframe id="Valorant" width="560" height="315" src="https://www.youtube.com/embed/8vqGvjLOYic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>VCT Masters Finals 2021</p>
<iframe id="Starcraft" width="560" height="315" src="https://www.youtube.com/embed/cKT9IETOkt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>IEM Katowice 2022 Finals</p>
</body>
